* {
  margin: 0;
  padding: 0;
}

body {}

#banner {
  width: 100%;
}

.principal {
  background-color: CCCCCC padding: 30px;
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-secundário {
  text-align: center;
}

background: # CCCCCC
}

p {
  font-size: 20px
}

#missão {
  front-size: 30px;
}

em strong {
  color: pink;
}

.itens {
  font-style: italic;
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}

h2 {
  text-align: center;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagem-benefeicios {
  width: 50%
}